location        = "{{ variable_map['902f80b91b1072105020dd32b24bcb73'] | default(location) | upper }}"
template_name = "{{ template_name }}"
nutanix_subnet_name = "{{ nutanix_subnet_name }}"
cluster_name = "{{ cluster_name }}"
vm_num_sockets = "{{ vm_num_sockets }}"
vm_num_cores_per_socket        = "{{ variable_map['902f80b91b1072105020dd32b24bcb74'] | default(vm_num_cores_per_socket) }}"
vm_num_threads_per_core        = "{{ variable_map['902f80b91b1072105020dd32b24bcb74'] | default(vm_num_threads_per_core) }}"
OU        = "{{ variable_map['9c2f80b91b1072105020dd32b24bcb73'] | default(OU) }}"
environment        = "{{ variable_map['982f80b91b1072105020dd32b24bcb74'] | default(environment) }}"
ChangeNumber = "{{ ChangeNumber }}"
